*{ 
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    height: 100vh;
    background: url(../imagens/fundo2.jpg) no-repeat center center;
    background-size: cover;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row .image_perf{
    padding-top: 50px;
}

.row .image_perf img{
    width: 120px;
}

.row .caption{
    padding-top: 35px;
    padding-bottom: 90px;
}

.row .caption a{
    text-decoration: none;
    font-family: 'Fredokai', sans-serif;
    font-weight: bold;
    color: #F9F9F9;
}

.links{
    margin-top: 10px;
    padding-top: 10px;
    width: 350px;
    background-color: rgba(48, 54, 62, 0.66);
    text-align: center;
}

.links:hover{
    background-color: rgba(25, 30, 36, 0.81);
}

.links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
}

.links a:hover{
    color: #d42222;
}

.rodape{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.rodape p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.66);
}

@media (min-width: 720px){
    body{
        background: url(../imagens/fundo2.jpg) no-repeat center;
        background-size: cover;
        height: 100vh;
    }
    .row .image_perf img {
        width: 200px;
    }
    .row .caption{
        padding-top: 35px;
        padding-bottom: 70px;
    }

    .row .caption a{
        text-decoration: none;
        font-family: 'Fredokai', sans-serif;
        font-weight: 500;
        color: #F9F9F9;
        font-size: 1.5em;
    }

    .caption a:hover{
        color: rgba(20, 24, 29, 0.81);
    }

    .links{
        margin-top: 10px;
        padding-top: 20px;
        width: 700px;
        background-color: rgba(48, 54, 62, 0.8);
        text-align: center;
    }

    .rodape{
        display: block;
        margin-top: -30px;
        text-align: center;
    }

    .rodape p{
        font-size: 25px;
        color: rgba(255, 255, 255, 0.73);
    }
}