*{
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    height: 100vh;
    background: url(../imagens/fundo4.jpg) no-repeat center center;
    background-size: cover;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row .image_perf{
    padding-top: 50px;
}

.row .image_perf img{
    width: 120px;
}

.row .caption{
    padding-top: 25px;
    padding-bottom: 60px;
}

.row .caption a{
    text-decoration: none;
    font-family: 'Fredokai', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #747474;
}

.links{
    margin-top: 5px;
    padding-top: 2px;
    width: 350px;
    height: 40px;
    background-color: rgba(48, 54, 62, 0.66);
    text-align: center;
    border-radius: 18px;
}

.links:hover{
    background-color: rgba(25, 30, 36, 0.80);
}

.links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}

.links a:hover{
    color: #EFB037;
}

.rodape{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.rodape p{
    font-size: 18px;
    color: #8b8b8b;
}

@media (min-width: 720px){
    body{
        background: url(../imagens/fundo5.jpg) no-repeat center center;
        background-size: cover;
        height: 100vh;
    }
    .row .image_perf img {
        width: 200px;
    }
    .row .caption{
        padding-top: 35px;
        padding-bottom: 70px;
    }

    .row .caption a{
        text-decoration: none;
        font-family: 'Fredokai', sans-serif;
        font-weight: 600;
        color: #EFB037;
        font-size: 1.5em;
    }

    .caption a:hover{
        color: #7a788ad7;
    }

    .links{
        margin-top: 10px;
        padding-top: 20px;
        width: 700px;
        background-color: rgba(48, 54, 62, 0.8);
        text-align: center;
    }

    .rodape{
        display: block;
        margin-top: -30px;
        text-align: center;
    }

    .rodape p{
        font-size: 25px;
        color: #EFB037;
    }
}
